.hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(11, 17, 8, 0.575);
  z-index: 1;
}

.hero-content{
  position: relative;
  z-index: 2;
  text-align: center;
  transform: translate(-180px, -40px);
  opacity: 1;
}

.hero h1{
  font-family: 'Cormorant Garamond', serif;
  font-size: 150px;
  font-weight: 300;
  letter-spacing: 12px;
  color: #eee7d5;
}

.hero p{
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #c9b98a;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee7d5;
  z-index: 10;
}

.navbar h2{
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 5px;
  font-weight: 400;
}

.links {
  display: flex;
  gap: 40px;
  font-size: 14px;
}